body{
    background-color:lightgrey;
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    h2 {
        color:#ff4500;

    }
    p {
        font-weight: bold;

    }